body {
    font-size:18px;
    line-height:22px;
    font-family: "lores-12", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    background-color: black;
    padding:20px;
    margin:0px;
}

img, video {
    width:100%;
    display:block;
}

div.title {
    font-size:85px;
    font-family: "lores-12", sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height:150px;
    text-align:center;
    filter:blur(2px);
    filter:contrast(2px);
}

div.times {
    font-size: 85px;
    font-family:'Times New Roman', Times, serif;
    font-weight: 700;
    font-style: normal;
    line-height: 150px;
    text-align: center;

}

span.number {
    font-family: "lores-12", sans-serif;
    color:blue;
}

div.subtitle {
    font-size:50px;
    font-family:'Times New Roman', Times, serif;
    font-weight: 700;
    font-style: normal;
    line-height:70px;
    filter:blur(2px)
}

div.quote {
    font-size:30px;
    font-family: "lores-12", sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height:42px;
}

div.bodytext {
    font-size:18px;
    line-height:25px;
    font-family: "lores-12", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

div.caption {
    font-size:14px;
    line-height:16px;
}

div.blue {
    color:blue
}

div.white {
    color:white;
}

div.black {
    color:black;
}

div.yellow {
    color:yellow
}

/* Background colours */

div.bggreen {
    background-color:rgb(0, 255, 0);
}

div.bgblue {
    background-color:blue;
}

div.mb {
    margin-bottom:100px;
}

div.mt {
    margin-top:100px;
}

div.mr {
    margin-right:100px;
    padding:50px;
}

div.mrauto {
    margin-right:auto;
}

div.ml {
    margin-left:100px;
    padding:50px;
}

div.mlauto {
    margin-left:auto;
}

div.pad {
    padding:50px;
}

/* Widths */

div.width50 {
    width:50%;
}

div.width25 {
    width:25%;
}

div.width75 {
    width:75%;
}

div.width100 {
    width:100%
}

/* Layout */
div.container {
    display:flex;
    flex-wrap:wrap;
    padding:20px;
}

/* Welcome splash page */
.welcome {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    color: white;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    cursor: pointer;
  }
  
  .welcome.visible {
    display: flex;
    flex-wrap: wrap;
  }

/* Hero video */
div.herovideo {
    width:300px;
    position:fixed;
    bottom:10px;
    right:10px;
    border:3px solid blue;
    filter: blur(2px);
}

/* Popups */

div.popup {
    position: fixed;
    top:200px;
    right:500px;
    width:500px;
    height:500px;
    background-color:blue;
    display:none;
}

div.popup.active {
    display:block;
}

/* Triggers and effects */

span.highlight {
    font-family: "lores-12", sans-serif
}

span.highlight.block {
    background:blue;
    color:blue;
    font-size:30px;
}

span.grow {
   
}

span.grow.active {
    font-size:100px
}

body.mainpage {

}

body.mainpage.active {
    filter: contrast(5%);
}